<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yyandywt99.webserver.mapper.produceMapper">
    <sql id="select">
        select produceId,
               founderId,
               produceName,
               produceText,
               produceImage,
               produceCredit,
               produceNum,
               customer,
               updateTime,
               registerTime
        from producetable
    </sql>
    <insert id="addProduce">
        INSERT INTO producetable (produceName, founderId,
                                  produceText, produceImage,
                                  produceCredit, produceNum,
                                  customer, updateTime, registerTime)
        values (#{produceName},#{founderId}, #{produceText}, #{produceImage},
                #{produceCredit}, #{produceNum}, #{customer},
                #{updateTime}, #{registerTime})
    </insert>
    <update id="updateNum">
        update producetable
        set produceNum = produceNum - 1,
            updateTIme = now()
        where produceId = #{id}
    </update>
    <update id="updateUserCredit">
        update usertable join producetable p on usertable.name = p.customer
        set credit       = credit - p.produceCredit,
            p.updateTime = now()
        where p.produceId = #{id}

    </update>

    <delete id="deleteProduce">
        delete
        from producetable
        where produceId = #{id}
    </delete>

    <select id="nameSelectProduce" resultType="com.yyandywt99.webserver.pojo.produce">
        <include refid="select"></include>
        where produceName like CONCAT('%', #{name}, '%') and produceNum > 0
        ORDER BY updateTime DESC;
    </select>

    <select id="selectProduce" resultType="com.yyandywt99.webserver.pojo.produce">
        <include refid="select"></include>
        where produceNum > 0
        ORDER BY updateTime DESC;
    </select>
</mapper>