<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yyandywt99.webserver.mapper.userMapper">
    <insert id="addCredit">
        UPDATE usertable
            LEFT JOIN tasktable ON usertable.name = tasktable.useName
        SET usertable.credit = tasktable.taskCredit + usertable.credit
        WHERE usertable.nameid = #{id};

    </insert>
    <insert id="addUser">
        INSERT INTO usertable (name, password, userText, userImage, updateTime, registerTime)
        values (#{name},#{password},#{userText},#{userImage},now(),now());
    </insert>
    <update id="requireUser">
        update usertable
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="userImage != null and userImage != ''">
                userImage = #{userImage},
            </if>
            <if test="userText != null and userText != ''">
                userText = #{userText},
            </if>
            <if test="password != null and password != ''">
                password = #{password},
            </if>
            updateTime = now()
        </set>
        where nameId = #{nameId};
    </update>
    <select id="select" resultType="com.yyandywt99.webserver.pojo.user">
        select nameId,userText,userImage,name,credit,registerTime,updateTime from usertable
        order by usertable.credit desc;
    </select>
    <select id="selectCredit" resultType="com.yyandywt99.webserver.pojo.user">
        select nameId,userText,name,credit from usertable
        where name = #{name};
    </select>
    <select id="login" resultType="com.yyandywt99.webserver.pojo.user">
        select nameId, name, userText, userImage,
               credit, updateTime, registerTime from usertable
        where password = #{password} and name = #{name};
    </select>
</mapper>